In [1]:
pip install dash

Requirement already satisfied: dash in c:\mysofware\anaconda3\lib\site-packages (2.0.0)
Requirement already satisfied: dash-html-components==2.0.0 in c:\mysofware\anaconda3\lib\site-packages (from dash) (2.0.0)
Requirement already satisfied: plotly>=5.0.0 in c:\mysofware\anaconda3\lib\site-packages (from dash) (5.4.0)
Requirement already satisfied: dash-core-components==2.0.0 in c:\mysofware\anaconda3\lib\site-packages (from dash) (2.0.0)
Requirement already satisfied: flask-compress in c:\mysofware\anaconda3\lib\site-packages (from dash) (1.10.1)
Requirement already satisfied: dash-table==5.0.0 in c:\mysofware\anaconda3\lib\site-packages (from dash) (5.0.0)
Requirement already satisfied: Flask>=1.0.4 in c:\mysofware\anaconda3\lib\site-packages (from dash) (1.1.2)
Requirement already satisfied: six in c:\mysofware\anaconda3\lib\site-packages (from plotly>=5.0.0->dash) (1.15.0)
Requirement already satisfied: tenacity>=6.2.0 in c:\mysofware\anaconda3\lib\site-packages (from plotly>=5.0.0->dash) (8.0.1)
Requirement already satisfied: brotli in c:\mysofware\anaconda3\lib\site-packages (from flask-compress->dash) (1.0.9)
Requirement already satisfied: Werkzeug>=0.15 in c:\mysofware\anaconda3\lib\site-packages (from Flask>=1.0.4->dash) (1.0.1)
Requirement already satisfied: itsdangerous>=0.24 in c:\mysofware\anaconda3\lib\site-packages (from Flask>=1.0.4->dash) (1.1.0)
Requirement already satisfied: Jinja2>=2.10.1 in c:\mysofware\anaconda3\lib\site-packages (from Flask>=1.0.4->dash) (2.11.2)
Requirement already satisfied: click>=5.1 in c:\mysofware\anaconda3\lib\site-packages (from Flask>=1.0.4->dash) (7.1.2)
Requirement already satisfied: MarkupSafe>=0.23 in c:\mysofware\anaconda3\lib\site-packages (from Jinja2>=2.10.1->Flask>=1.0.4->dash) (1.1.1)Note: you may need to restart the kernel to use updated packages.

In [2]:
import pandas as pd
import plotly.express as px
import plotly.graph_objects as go
from dash import Dash, dcc, html, Input, Output

In [3]:
app = Dash(__name__)

In [4]:
df = pd.read_csv("intro_bees.csv")

In [5]:
df = df.groupby(['State','ANSI','Affected by','Year','state_code'])[['Pct of Colonies Impacted']].mean()

In [6]:
df

                                           Pct of Colonies Impacted
State   ANSI Affected by  Year state_code
Alabama 1    Disease      2015 AL                             0.050
                          2016 AL                             1.200
                          2017 AL                             2.250
                          2018 AL                             1.300
                          2019 AL                             1.800
...                                                             ...
Wyoming 56   Varroa_mites 2015 WY                            23.375
                          2016 WY                            19.475
                          2017 WY                            23.525
                          2018 WY                            22.425
                          2019 WY                             0.700

[1350 rows x 1 columns]

In [7]:
df.reset_index(inplace = True)

In [8]:
df[:5]

     State  ANSI Affected by  Year state_code  Pct of Colonies Impacted
0  Alabama     1     Disease  2015         AL                      0.05
1  Alabama     1     Disease  2016         AL                      1.20
2  Alabama     1     Disease  2017         AL                      2.25
3  Alabama     1     Disease  2018         AL                      1.30
4  Alabama     1     Disease  2019         AL                      1.80

In [9]:
app.layout = html.Div([
    
    html.H1("Web Application Dashboards with Dash", style={'text-align':'center'}),
    
    dcc.Dropdown(id="slct_year",
                 options=[
                     {'label': '2015','value': 2015},
                     {'label': '2016','value': 2016},
                     {'label': '2017','value': 2017}, 
                     {'label': '2018','value': 2018}],
                 multi=False,
                 value=2015,
                 style={'width': "40%"}
                ),
    
    html.Div(id='output_container',children=[]),
    html.Br(),
    
    dcc.Graph(id='my_bee_map',figure={})
])

In [10]:
@app.callback(
    [Output(component_id='output_container', component_property='children'),
    Output(component_id='my_bee_map', component_property='figure')],
    [Input(component_id='slct_year', component_property='value')]
)
def update_graph(option_slctd):
    print(option_slctd)
    print(type(option_slctd))
    
    container = "The year chosen by user was: {}".format(option_slctd)
    
    dff = df.copy()
    dff = dff[dff["Year"]==option_slctd]
    dff = dff[dff["Affected by"]=="Varroa_mites"]
    
    fig = px.choropleth(
        data_frame = dff,
        locationmode='USA-states',
        locations='state_code',
        scope='usa',
        color="Pct of Colonies Impacted",
        hover_data=['State','Pct of Colonies Impacted'],
        color_continuous_scale=px.colors.sequential.YlOrRd,
        labels={'Pct of Colonies Impacted' : '% of Bee Colonies'},
        template='plotly_dark'    
    )
    
    return container, fig

In [11]:
if __name__ == '__main__':
    app.run_server(debug=False)

Dash is running on http://127.0.0.1:8050/

 * Serving Flask app "__main__" (lazy loading)
 * Environment: production
   WARNING: This is a development server. Do not use it in a production deployment.
   Use a production WSGI server instead.
 * Debug mode: off

 * Running on http://127.0.0.1:8050/ (Press CTRL+C to quit)
127.0.0.1 - - [14/Feb/2022 11:48:22] "GET / HTTP/1.1" 200 -
127.0.0.1 - - [14/Feb/2022 11:48:23] "GET /_dash-layout HTTP/1.1" 200 -
127.0.0.1 - - [14/Feb/2022 11:48:23] "GET /_dash-dependencies HTTP/1.1" 200 -
127.0.0.1 - - [14/Feb/2022 11:48:23] "GET /_favicon.ico?v=2.0.0 HTTP/1.1" 200 -
127.0.0.1 - - [14/Feb/2022 11:48:23] "GET /_dash-component-suites/dash/dcc/async-plotlyjs.js HTTP/1.1" 200 -
127.0.0.1 - - [14/Feb/2022 11:48:23] "GET /_dash-component-suites/dash/dcc/async-dropdown.js HTTP/1.1" 200 -
127.0.0.1 - - [14/Feb/2022 11:48:23] "GET /_dash-component-suites/dash/dcc/async-graph.js HTTP/1.1" 200 -

2015
<class 'int'>

127.0.0.1 - - [14/Feb/2022 11:48:24] "POST /_dash-update-component HTTP/1.1" 200 -

In [12]:
%tb

No traceback available to show.