# Investor Funds

### Data in Motion: Data Analysis Chalenge 6

## Scenario
You are a financial data analyst on Wall Street and you have been tasked with summarizing data about investor funds. Your manager would like the following questions answered.
## Dataset Link
https://raw.githubusercontent.com/datasets/investor-flow-of-funds-us/master/data/weekly.csv

## Questions
- What is the frequency of the dataset? (The time period between each row)
- What is the data type of the index?
- Set the index to a Datetime.
- Change the frequency to monthly, sum the values and assign it to new variable called monthly.
- You will notice that it filled the dataFrame with months that don’t have any data with NaN. Let’s drop these rows.
- Good, now we have the monthly data. Now change the frequency to year and assign to a new variable called year.
- Create your own question and answer it.

### Import Libraries

In [1]:
import pandas as pd
from datetime import datetime

### Load the data

In [3]:
url = 'https://raw.githubusercontent.com/datasets/investor-flow-of-funds-us/master/data/weekly.csv' 
df = pd.read_csv(url)

### Exploring the data

In [4]:
df.head(10)

,Date,Total Equity,Domestic Equity,World Equity,Hybrid,Total Bond,Taxable Bond,Municipal Bond,Total
0,2012-12-05,-7426,-6060,-1367,-74,5317,4210,1107,-2183
1,2012-12-12,-8783,-7520,-1263,123,1818,1598,219,-6842
2,2012-12-19,-5496,-5470,-26,-73,103,3472,-3369,-5466
3,2012-12-26,-4451,-4076,-375,550,2610,3333,-722,-1291
4,2013-01-02,-11156,-9622,-1533,-158,2383,2103,280,-8931
5,2013-01-09,14817,7995,6821,2888,9766,7311,2455,27471
6,2014-04-02,3155,938,2217,265,3379,3129,250,6799
7,2014-04-09,5761,2080,3681,1482,1609,1448,161,8852
8,2014-04-16,2286,634,1652,1186,633,604,29,4105
9,2014-04-23,3530,1392,2138,1239,1984,1453,531,6753

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 44 entries, 0 to 43
Data columns (total 9 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Date             44 non-null     object
 1   Total Equity     44 non-null     int64
 2   Domestic Equity  44 non-null     int64
 3   World Equity     44 non-null     int64
 4   Hybrid           44 non-null     int64
 5   Total Bond       44 non-null     int64
 6   Taxable Bond     44 non-null     int64
 7   Municipal Bond   44 non-null     int64
 8   Total            44 non-null     int64
dtypes: int64(8), object(1)
memory usage: 3.2+ KB

In [6]:
# What is the frequency of the dataset? (The time period between each row)
df["Date"] = pd.to_datetime(df["Date"])
freq = df.Date.diff()
freq.head(10)

0        NaT
1     7 days
2     7 days
3     7 days
4     7 days
5     7 days
6   448 days
7     7 days
8     7 days
9     7 days
Name: Date, dtype: timedelta64[ns]

In [7]:
# What is the data type of the index?
type(df.index)

pandas.core.indexes.range.RangeIndex

In [8]:
# Set the index to a Datetime.
df.set_index("Date",inplace=True)

In [9]:
df.head()

,Total Equity,Domestic Equity,World Equity,Hybrid,Total Bond,Taxable Bond,Municipal Bond,Total
Date,,,,,,,,
2012-12-05,-7426,-6060,-1367,-74,5317,4210,1107,-2183
2012-12-12,-8783,-7520,-1263,123,1818,1598,219,-6842
2012-12-19,-5496,-5470,-26,-73,103,3472,-3369,-5466
2012-12-26,-4451,-4076,-375,550,2610,3333,-722,-1291
2013-01-02,-11156,-9622,-1533,-158,2383,2103,280,-8931

In [ ]:
# Change the frequency to monthly, sum the values and assign it to new variable called monthly.

In [ ]:
# You will notice that it filled the dataFrame with months that don’t have any data with NaN. Let’s drop these rows.

In [ ]:
# Good, now we have the monthly data. Now change the frequency to year and assign to a new variable called year.

In [ ]:
# Create your own question and answer it.